$grey1: #F5F5F6;
$grey2: #E5E5E6;
$grey3: #C6C6C7;
$grey4: #505051;
$grey5: #383840;
$grey6: #2D2D30;
$grey7: #252526;

$base_color: $grey6;
$font_family: 'Roboto Condensed', helvetica, arial, sans-serif;
$panel_header_font_size: 27px;
$panel_header_font_weight: normal;
$panel_header_line_height: 27px;
$panel_header_padding: 12px 20px;
$btn_group_framed_border_radius: 0px;
$button_grid_cell_border_radius: 0px;
$button_large_border_radius: 0px;
$button_medium_border_radius: 0px;
$button_small_border_radius: 0px;
$toolbar_background_color: #48778c;
$button_toolbar_background_color: #4E8391;
$button_toolbar_color_focus_pressed: $grey2;
$button_toolbar_color_over: $grey2;
$button_toolbar_color_pressed: $grey2;
$button_toolbar_glyph_color: $grey2;
$button_toolbar_color: $grey2;
$button_small_font_size: 15px;
$button_small_font_size_disabled: 15px;
$button_small_font_size_focus: 15px;
$button_small_font_size_focus_over: 15px;
$button_small_font_size_focus_pressed: 15px;
$button_small_font_size_over: 15px;
$button_small_font_size_pressed: 15px;
$button_small_font_weight: normal;
$button_small_font_weight_disabled: normal;
$button_small_font_weight_focus: normal;
$button_small_font_weight_focus_over: normal;
$button_small_font_weight_focus_pressed: normal;
$button_small_font_weight_over: normal;
$button_small_font_weight_pressed: normal;
$button_toolbar_border_color: #2B5A6B;
$button_small_padding: 8px;
$button_small_text_padding: 10px;
$tabbar_strip_height: 0px;
$panel_frame_border_radius: 0px;
$tab_base_color: $grey7;
$tab_base_color_active: $grey7;
$tab_base_color_disabled: $grey7;
$tab_base_color_focus: $grey7;
$tab_base_color_focus_active: $grey7;
$tab_base_color_focus_over: $grey7;
$tab_base_color_over: $grey7;
$panel_body_color: $grey3;
$panel_body_background_color: $grey6;
$tab_border_radius: 0;
$tab_color: $grey3;
$tab_color_active: $grey1;
$tab_color_disabled: $grey3;
$tab_color_focus: $grey3;
$tab_color_focus_active: $grey1;
$tab_color_focus_over: $grey1;
$tab_color_over: $grey1;
$tab_font_weight: normal;
$tab_font_weight_active: normal;
$tab_font_weight_disabled: normal;
$tab_font_weight_focus: normal;
$tab_font_weight_focus_active: normal;
$tab_font_weight_focus_over: normal;
$tab_font_weight_over: normal;
$tab_padding: 17px 12px 17px;
$tab_font_size: 15px;
$tab_font_size_active: 15px;
$tab_font_size_disabled: 15px;
$tab_font_size_focus: 15px;
$tab_font_size_focus_active: 15px;
$tab_font_size_focus_over: 15px;
$tab_font_size_over: 15px;
$tab_border_width: 0px 1px 0px 0px;
$tab_border_width_active: 0px 1px 0px 0px;
$tab_border_width_disabled: 0px 1px 0px 0px;
$tab_border_width_focus: 0px 1px 0px 0px;
$tab_border_width_focus_active: 0px 1px 0px 0px;
$tab_border_width_focus_over: 0px 1px 0px 0px;
$tab_border_width_over: 0px 1px 0px 0px;
$tab_border_color: $grey4;
$tab_border_color_active: $grey4;
$tab_border_color_disabled: $grey4;
$tab_border_color_focus: $grey4;
$tab_border_color_focus_active: $grey4;
$tab_border_color_focus_over: $grey4;
$tab_border_color_over: $grey4;
$tab_inner_border_color_focus: $grey4;
$tab_inner_border_color_focus_active: $grey4;
$tab_inner_border_color_focus_over: $grey4;
$tab_inner_border_width_focus: 0px;
$tab_inner_border_width_focus_active: 0px;
$tab_inner_border_width_focus_over: 0px;
$tabbar_scroller_opacity_disabled: 0.15;
$button_toolbar_inner_border_color_focus: #375E68;
$button_toolbar_inner_border_color_focus_over: #375E68;
$button_toolbar_inner_border_color_focus_pressed: #375E68;
$button_toolbar_background_color_over: #45707f;
$button_toolbar_inner_border_width_focus: 0.5px;
$button_toolbar_inner_border_width_focus_over: 0.5px;
$button_toolbar_inner_border_width_focus_pressed: 0.5px;
$grid_row_cell_alt_background_color: $grey5;
$grid_row_cell_background_color: $grey6;
$grid_row_cell_border_color: $grey4;
$grid_row_cell_color: $grey3;
$grid_row_cell_line_height: 20px;
$grid_row_cell_over_background_color: #49495E;
$grid_row_cell_over_border_color: $grey4;
$grid_row_cell_selected_background_color: #2F2F54;
$grid_row_cell_selected_border_color: $grey4;
$grid_row_cell_focus_border_width: 0px;
$menu_background_color: $grey7;
$menu_border_color: $grey4;
$menu_glyph_color: $grey3;
$menu_item_active_background_color: $grey5;
$menu_text_color: $grey3;
$menu_item_active_text_color: $grey3;
$window_header_line_height: 34px;
$window_body_background_color: $grey5;
$window_header_background_color: $grey6;
$window_header_font_size: 18px;
$window_header_text_padding: 2px 0px 0px 0px;
$form_field_color: $grey2;
$form_field_invalid_background_color: $grey4;
$form_text_field_background_color: $grey4;
$boundlist_background_color: $grey7;
$boundlist_border_color: $grey5;
$boundlist_item_over_background_color: $grey5;
$boundlist_item_selected_text_color: $grey3;
$boundlist_item_text_color: $grey3;
$form_trigger_background_color: $grey4;
$form_trigger_border_color: $grey5;
$form_trigger_border_color_focus: $grey5;
$form_trigger_border_color_over: $grey5;
$form_trigger_border_color_pressed: $grey5;
$form_trigger_border_width: 1px 1px 1px 0px;
$form_trigger_glyph_color: $grey3;
$loadmask-background-color: $grey4;
