$menu-border-width: dynamic(0);
$menu-background-color: dynamic($light-bg-color);
$menu-item-active-background-color: dynamic($neutral-highlight-color);
$menu-item-active-text-color: dynamic($color);
$menu-item-active-glyph-color: dynamic($dark-icon-color);
