# Created by .ignore support plugin (hsz.mobi)
.idea
classic.json
modern.json
bootstrap.*
*.tmp
*.log
/ext-all.js
/ext-all-debug.js
/ext-all-dev.js
/ext-all-rtl.js
/ext-all-rtl-debug.js
/ext-all-rtl-dev.js
/ext-debug.js
/ext-dev.js
/ext.js
/ext-modern.js
/ext-modern-debug.js
/ext-modern-all.js
/ext-modern-all-debug.js
libpeerconnection.log
version.properties
licenses/file-header.js
LICENSE
build/
/build/*
build/*
build/development/*
build/testing/*
build/production/*