$window-body-background-color: dynamic($light-bg-color);
$window-body-border-width: dynamic(0);
$window-border-width: dynamic(0);
$window-header-background-color: dynamic($light-bg-color);
$window-header-color: dynamic($base-color);
$window-header-glyph-color: dynamic($dark-icon-color);
$window-header-padding: dynamic(15px);
