$panel-header-background-color: $primary-color-dark;
$button-default-base-color: $primary-color;
$button-default-background-color-focus:  $primary-color;

$tab-color:  $primary-color-text;
$tab-color-active: $primary-color-text;
$tab-base-color:  $primary-color;
$tab-base-color-active:  $primary-color;

$tab-base-color-focus:  $accent-color;
//$tab-base-color-focus-active:  $accent-color; wenn angeklickt wird
$tab-border-color: $primary-color-text;
$tab-border-color-active: $primary-color-text;
$tab-border-color-focus : $primary-color-text;
$tab-border-radius: 4px 4px 0 0