$panel-header-background-color: dynamic($body-bg-color);
$panel-border-color: dynamic($body-bg-color);
$panel-header-border-color: dynamic($body-bg-color);
$panel-body-background-color: dynamic($light-bg-color);
