$boundlist-item-padding: dynamic(7px 15px);
$boundlist-item-over-background-color: dynamic($neutral-highlight-color);
$boundlist-item-over-text-color: dynamic($color);
$boundlist-background-color: dynamic($light-bg-color);
$boundlist-border-width: dynamic(0);
